*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    right:0;
    top:0;
    z-index: 1;
    position: fixed;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:33px 2%;
    background-color: white;
    border-bottom: 0.5px solid rgba(205, 155, 29, 0.5); 
}


.menu-icon {
    color:goldenrod;
    font-size: 40px;
    cursor:pointer;
    display:none;
}

.eesalogo img {
    pointer-events: none; 
    width: 150px; 
    display: block;
}

.eesalogo h1{
    color:rgb(205, 155, 29);
    font-style: bodoni flf;
    font-size:10px;
    text-wrap: nowrap;
}

.menu {
    list-style: none;
    margin-left: 3vw;
    display: flex;
    flex-wrap:wrap;
}

.menu a{
    text-decoration: none;
    color:rgb(205, 155, 29);
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
    transition: ease-in-out 0.4s;
    margin-top:5px;
    margin-left: 2vw;
    font-size: 10px;
    white-space: nowrap;
}

.menu a:hover {
    color: rgb(216, 185, 106);
}

.footer{
    width: 100%;
    border-top: 5px solid rgba(205, 155, 29, 0.5); 
    border-radius: 20%;
}

.footerLogo{
    text-align: center;
    margin-top: 5vh;
    pointer-events: none;
    margin-bottom: 2vh;
}

.footerLogo img{
    width: 20vh;
}
.footer ul{
    display:flex;
    justify-content: center;
}

.footer ul li{
    list-style: none;
    margin-left: 1.5vw;
    font-size: 1vw;
    white-space: nowrap;
    margin-bottom: 5vh;
}

.footer ul li a{
    text-decoration: none;
    color:rgb(205, 155, 29);
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
    transition: ease-in-out 0.4s;
    text-decoration: underline;
}

.footLinks ul li a:hover {
    color: rgb(216, 185, 106);
}

.slideshow {
    width: 100%;
    margin-top: 99px;    
    overflow: hidden;
}

.slideshow-container-1 {
    position: relative;
    display: flex;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    pointer-events: none;
}

.slideshow-container-2 {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    pointer-events: none;
}

.slideshow-container-3 {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    pointer-events: none;
}

.slideshow-container-3 img, .slideshow-container-1 img {
    width:21vw;
    height: 14vh; 
}
.slideshow-container-2 img{
    width:18vw;
    height: 14vh; 
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;

    }
}
.opening {
    width:100vw;
    text-align: center;
    height: calc(100vh - 99px - 63);
}

.opening h1{
    margin-top: 5vh;
    animation-name: fadeIn;
    animation-duration: 2s;
    color:  goldenrod;
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
    font-size: 70px;
    font-weight: lighter;
}


.opening h2, .opening h3,.opening h4{
    width:90%;
    margin-left:5%;
    animation-name: fadeIn;
    animation-duration: 2s;
    color:rgba(0, 0, 0, 0.585);
    margin-top: 18px; 
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 100;
    padding-left: 2%; 
}
.opening ion-icon{
    animation-name: fadeIn;
    animation-duration: 2s;
    color: goldenrod;
    font-size: 40px; 
    margin-top: 4vh;
    cursor: pointer;
}

.opening ion-icon:hover{
    transform: translateY(-6px);
    color: rgb(216, 185, 106);
}

.missionStatement{
    padding: 140px 40px 140px; /* Adjust the top padding value to match the height of your header */
    margin-top: 10vh;
    display: flex; 
    align-items: center; 
    background-color:rgb(255, 252, 243) ;
}

.missionStatement h1{
    width:50%;
    color: goldenrod;
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
    font-size: 3vw;
    font-weight: lighter;
    font-style: italic;
    text-wrap: nowrap;
}

.missionStatement h2{
    color:rgba(0, 0, 0, 0.585);
    font-size: 1.5vw; 
    font-family:'Courier New', Courier, monospace;
    font-weight:100; 
    width: 50vw;
    font-style: italic;

}
.newsletter {
    margin-top: 20vh;
    width: 90%;
    margin-left: 5%;
    display: flex; /* Use flexbox */
}

.newsletterpics {
    width: 50%;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap */
}

.newsletterPics1,
.newsletterPics3,
.newsletterPics5 {
    width: 50%; /* Each pic takes half of the container width */
    margin-bottom: 4vh;
    box-sizing: border-box; /* Include border in width calculation */
}

.newsletterPics2,
.newsletterPics4,
.newsletterPics6 {
    width: 50%;
    box-sizing: border-box;
}

.newsletterpics img {
    width: 100%;
    pointer-events: none;
}

.newsletterright {
    width: 50%;
    box-sizing: border-box;

}

.newsletter h1 {
    color: goldenrod;
    text-align: center;
    font-size: 3vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    margin-bottom: 5vh;
    margin-left: 4vw;
}

.newsletter h2 {
    color:rgba(0, 0, 0, 0.585);
    text-align: center;
    font-size: 1.7vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    line-height: 1.5;
    margin-bottom: 5vh;
    margin-left: 4vw;

}

.newsletterright button {
    margin-left: 10vw;
    width: 30vw;
    color: goldenrod;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5vw;
    padding: 10px;
    border-color: goldenrod;
    background-color: white;
    border-radius: 30px;

}

.newsletterButton button:hover {
    color: rgb(216, 185, 106);
}

.instagramTitle {
    margin-top: 20vh;
    margin-bottom: 5vh;
    text-align: center;
    color: goldenrod;
    font-size: 3vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left:4vw;
}

.donate h1{
    margin-top: 5vh;
    text-align: center;
    color: goldenrod;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
}

.donate h2, .donate h3{
    text-align:center ;
    color:rgba(0, 0, 0, 0.585);
    margin-top: 10vh; 
    margin-bottom: 10vh;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.5vw;
    font-weight: 100; 
}



.eventsheader{
    margin-top: 99px;    
    width:100%;
    display: flex;
    flex-wrap: nowrap;
}

.eventsheader img{
    width:25%;
}

.eventPosters23-24 h1{
    margin-top: 2vh;
    text-align: center;
    color: goldenrod;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.eventPosters23-24 h2{
    margin-top: 5vh;
    text-align: center;
    color: goldenrod;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    z-index: 1;
}
.eventPosterContainer{
    margin-top: 3vh;
    display: flex;
    flex-wrap: wrap;
    width:80%;
    margin-left: 9%;
    justify-content: space-between;
}

.eventPosters23-24 figcaption{
    text-align: center;
    color: rgb(226, 187, 90);
    font-size: 1.2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.eventPosters23-24 img{
    margin-left: 4vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 18vw; 
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
.eventPosters23-24 img:hover{
    transform: scale(1.2);
    filter: drop-shadow(10px 10px 20px rgba(36, 36, 36, 0.5));
}

.calendar{
    margin-top: 5vh;
    margin-bottom: 10vh;
    justify-content: space-between; 
    border-top: 2px solid rgba(205, 155, 29, 0.5); 
}

.calendar h1{
    margin-top: 5vh;
    margin-bottom: 3vh;
    text-align: center;
    color: goldenrod;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
}

.calendar h2{
    margin-bottom: 2vh;
    text-align: center;
    color: rgba(0, 0, 0, 0.585);
    font-weight:100; 
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}
.calendar h3{
    margin-bottom: 2vh;
    text-align: center;
    width:50%;
    margin-left:25%;
    color:rgba(0, 0, 0, 0.585);
    font-size: 1.1vw; 
    font-family:'Courier New', Courier, monospace;
    font-weight:100; 
}

.calendar iframe{
    width: 60vw;
    height: 30vh;
    margin-top: 2vh;
    margin-left: 20vw;
}

.teamheader{
    text-align: center;
    color: goldenrod;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.teamheader img{
    margin-top: 110px;    
    width:100%;
}

.team h1{
    margin-top: 2vh;
    text-align: center;
    color: goldenrod;
    font-size: 40px;
}

.teamPhotos{
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    width:95vw;
    margin-left: 2.5vw;
    justify-content: space-between;
}
.teamPhotos img{
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 13vw; 
    height: 30vh;
    border-radius: 20px;
    justify-content: space-between;
    margin-right: 1vw;
}

.teamPhotos img:hover{
    transform: scale(1.4);
}
.teamButton{
    margin-top: 5vh;
    margin-bottom: 20vh;
}
.teamButton button{
    left: 50%;
    transform: translateX(-50%);    
    width: 20vw;
    color: goldenrod;
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
    font-size: 1.5vw;
    padding: 10px; 
    border-color: goldenrod;
    background-color: white;
    border-radius: 30px;
    position: absolute;
}

.teamButton button:hover {
    color: rgb(216, 185, 106);
}


.gallery h1{
    margin-top: 20vh;
    text-align: center;
    color: goldenrod;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.galleryBins{
    height: 100vh;
    margin-top: 5vh;
    width:80vw;
    margin-left: 10vw;
    margin-bottom: 13vh;
    background-color:rgba(218, 165, 32, 0.693);
    border-radius: 20px;
}

.localBusinesses h1{
    margin-top: 20vh;
    text-align: center;
    color: goldenrod;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.businessPosters{
    height: 100vh;
    margin-top: 5vh;
    width:80vw;
    margin-left: 10vw;
    margin-bottom: 13vh;
    background-color:rgba(218, 165, 32, 0.693);
    border-radius: 20px;
}

.opportunityBoard h1{
    margin-top: 20vh;
    text-align: center;
    color: goldenrod;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.opportunityPosters{
    height: 100vh;
    margin-top: 5vh;
    width:80vw;
    margin-left: 10vw;
    margin-bottom: 13vh;
    background-color:rgba(218, 165, 32, 0.693);
    border-radius: 20px;
}
 



@media (max-width:1070px) {
    .menu-icon {
        display: flex;
    }
    .menu {
        display: none;
    }

    .eesalogo {
        pointer-events: none; 
    }

    .eesalogo img {
        pointer-events: none;
        width: 150px; 
    }
}

@media (max-width:472px) {
    .eesalogo h1{
        font-size: 2.1vw;
    }
    .eesalogo img {
        width: 30%;
    }
   
    .slideshow-container-1 img, .slideshow-container-2 img, .slideshow-container-3 img{
        height:10vh;
    }
    .opening h1{
        font-size:12vw;
    }
    .opening h2, .opening h3, .opening h4{
        font-size: 3vw;
    }

    .opening ion-icon{
        display:none;
    }
    .missionStatement{
        padding: 40px 40px 40px; 

    }
    .missionStatement h2{
        font-size: 2.5vw;
        font-weight: 500;
    }
    .missionStatement h1{
        font-size: 3vw;
    }
    .newsletterpics {
        margin-bottom: 2vw;
    }
    .newsletter h1 {
        font-size: 4vw;
        margin-bottom: 2vh;
    }
    .newsletter h2 {
        color:rgba(0, 0, 0, 0.585);
        text-align: center;
        font-size: 2.5vw;
        margin-bottom: 2vh;
        font-weight: 500;
    }       

    .instagramTitle{
        font-size: 6vw;
    }
    .donate h2, .donate h3{
        color:rgba(0, 0, 0, 0.585);
        text-align:center;
        margin-top: 5vh; 
        margin-bottom: 5vh;
        font-family:'Courier New', Courier, monospace;
        font-size: 2.5vw;
        font-weight: 500; 
    }


    .footerLogo img{
        width: 40vw;
    }

    .footer ul li{
        list-style: none;
        margin-left: 1.5vw;
        font-size: 3vw;
        white-space: nowrap;
    }

    .eventPosterContainer{
        display:grid;
        text-align: center;
    }

    .eventPosters23-24 img{
        width: 50vw;
        margin-left: 15vw;

    }
    .eventPosters23-24 figcaption{
        font-size: 4vw;
        margin-left: 15vw;
    }

    .calendar h3{
        font-size: 3vw; 
    }


    .teampPhotos{
        display:grid;
        text-align: center;
    }
    .teamPhotos img{
        width: 50vw;
        margin-left: 23vw;

    }
    .teamButton button{
        width:50%;
        font-size: 3vw;
    }
}